<?xml version="1.0" encoding="utf-8"?>
<!-- The packages.config acts as the global version for all of the NuGet packages contained within. -->
<packages>
	<!-- Native packages -->
	<package id="vcpkg-cpprestsdk" version="2.10.14" targetFramework="native" />
	<package id="Microsoft.VisualStudio.Setup.Configuration.Native" version="2.3.2262" targetFramework="native" developmentDependency="true" />
</packages>
